
.update-password-container {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    align-items: center;
    justify-items: center;
    height: 60vh;
    border-radius: 10px;
}

.update-password-container h1 {
    color: white;
    font-family: Inter, sans-serif;
    margin: 5px;
    padding: 0;
}

.update-password-form {
    width: 30%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.update-password-button, .old-password-input, .new-password-input, .confirm-password-input {
    max-height: 50px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.update-password-button {
    cursor: pointer;
    font-size: 14px;
}