.answer-button-wrapper {
    display: grid;
}

.answer-button-container {
    align-self: center;
    justify-self: center;
    display: grid;
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    min-height: 100px;
    margin: 10px;
    padding: 10px;
    transition: background 200ms, transform 150ms ease-in-out;
}

.answer-button-label {
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    font-size: 28px;
    font-family: "Inter", sans-serif;
}

.answer-button-container:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}