.question-display-wrapper {
    min-height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    background-size: cover;
    display: grid;
}

.question-display-text-container {
    display: grid;
}

.question-display-text-container button {
    cursor: pointer;
    top: 9px;
    right: 9px;
    position: absolute;
    justify-self: end;
    outline: none;
    border: none;
    text-align: center;
    text-justify: auto;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 26px;
    background: linear-gradient(to bottom right, #BF1745, #CF6A2A);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
}

.question-display-text-container button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.question-display-text-container h1 {
    align-self: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    text-align: center;
}

.question-display-answer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.question-display-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.question-display-content-container div {
    display: grid;
}

.question-display-next-question-button {
    display: none;
    align-self: center;
    justify-self: center;
    width: 180px;
    height: 55px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 150ms ease-in-out;
}

.question-display-button-container button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.question-display-image-container img {
    justify-self: center;
    height: 40vh;
}

@media (max-width: 700px) {
    .question-display-content-container {
        display: flex;
        flex-direction: column;
    }

    .question-display-answer-container {
        display: flex;
        flex-direction: column;
    }
}