.create-true-false-wrapper {
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(138, 83, 255, 0.8), rgba(93, 152, 159, 0.9));
    display: grid;
}

.true-false-answer-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.true-label, .false-label {
    padding-left: 10px;
    align-self: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #000000;
    outline: none;
    border: none;
    background-color: transparent;
}

.true-false-answer-container input[type="radio"] {
    display: none;
}

.true-checkbox-container label, .false-checkbox-container label {
    font-size: 30px;
    padding: 5px 0 7px 11px;
    color: transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.true-checkbox-container input[type="radio"]:checked + label, .false-checkbox-container input[type="radio"]:checked + label {
    color: #FFFFFF;
    background-color: #30ff4c;
}

.true-checkbox-container input[type="radio"]:hover + label, .false-checkbox-container input[type="radio"]:hover + label {
    transform: scale(1.1);
}

.true-container, .false-container {
    justify-self: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    min-width: 90%;
    height: 70px;
    margin: 10px;
    padding: 10px;
}

.true-container:hover, .false-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.true-container {
    background-color: #35a3e4;
}

.false-container {
    background-color: #ff8701;
}

@media (max-width: 725px) {
    .true-false-answer-container {
        display: flex;
        flex-direction: column;
    }
}
