.create-multiple-choice-wrapper {

}

.alternative-answer-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.alternative-answer-container input {
    width: 140px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #000000;
    outline: none;
    border: none;
    background-color: transparent;
}

.alternative-answer-container input[type="checkbox"] {
    display: none;
}

.alternative-checkbox-container label {
    font-size: 30px;
    padding: 5px 0 7px 11px;
    color: transparent;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.alternative-answer-container input[type="checkbox"]:checked + label {
    color: #FFFFFF;
    background-color: #30ff4c;
}

.alternative-answer-container input[type="checkbox"]:hover + label {
    transform: scale(1.1);
}

.alternative-1-container, .alternative-2-container, .alternative-3-container, .alternative-4-container {
    justify-self: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 90%;
    height: 70px;
    margin: 10px;
    padding: 10px;
}

.alternative-1-container:hover, .alternative-2-container:hover, .alternative-3-container:hover, .alternative-4-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alternative-answer-container input::placeholder {
    color: #333333;
}

.alternative-1-container {
    background-color: #35a3e4;
}

.alternative-2-container {
    background-color: #ff8701;
}

.alternative-3-container {
    background-color: #01aa6f;
}

.alternative-4-container {
    background-color: #fbf354
}

@media (max-width: 725px) {
    .alternative-answer-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 565px) {
    .create-question-button-container {
        display: flex;
        flex-direction: column;
    }
}