.question-block-wrapper {
    margin: 10px;
    background-color: floralwhite;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    border-radius: 8px;
    width: 145px;
    height: 90px;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.question-block-wrapper:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.question-block-button-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.question-block-button-container p {
    align-self: flex-start;
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

.question-block-title-container, .question-block-image-container {
    width: 110px;
}

.question-delete-button {
    cursor: pointer;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    transition: transform 150ms ease-in-out;
}

.question-delete-button:hover {
    transform: scale(1.3);
}

.question-block-title-container {
    height: 20px;
}

.question-block-title-container p {
    font-family: "Inter", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.question-block-container img {
    margin: 0;
    height: 60px;
    width: 100px;
}
