.create-multiple-choice-wrapper {
}

.create-question-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.create-question-button-container button {
    justify-self: center;
    width: 180px;
    height: 55px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 150ms ease-in-out;
}

.create-question-button-container button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.create-question-container {
    display: grid;
}

.create-question-container input {
    margin: 20px 0;
    width: 85%;
    min-height: 55px;
    justify-self: center;
    text-align: center;
    font-size: 26px;
    font-family: Inter, sans-serif;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-question-container input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.create-question-container input::placeholder {
    color: #999;
}

.create-question-image-container {
    display: grid;
    justify-content: center;
}

.create-question-image-container img {
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    justify-self: center;
}

#change-question-image-input {
    display: none;
}

.change-question-image-container {
    display: grid;
    justify-items: center;
}

.change-question-image-label {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: transform 150ms ease-in-out;
}

.change-question-image-label:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

@media (max-width: 565px) {
    .create-question-button-container {
        display: flex;
        flex-direction: column;
    }

    .create-question-button-container button {
        justify-self: center;
    }
}