.carousel-img-container {
    position: relative;
    display: inline-block;
    flex: 0 0 calc(100% / var(--images-per-row));
    max-width: calc(100% / var(--images-per-row));
    aspect-ratio: 1.618; //The golden ratio;
    border-radius: 11px;
    transition: transform 150ms ease-in-out;
    cursor: pointer;
}

.carousel-img-container p {

    z-index: 100;
    top: 15px;
    left: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    font-family: "Inter", sans-serif;
    transition: transform 150ms ease-in-out;
}

.carousel-img-container img {
    height: 100%;
    max-width: 100%;
    padding: .5rem;
    aspect-ratio: 1.618;
    border-radius: 11px;
    transition: transform 150ms ease-in-out;
}

.carousel-img-container img:hover {
    transform: scale(1.1);
}