.container {
    width: 100%;
    height: 200px;
    display: flex;
    #flex-direction: column;
    background-color: #000000;
    align-items: stretch;


    background-size: cover;
}

.router{
    /* Page title */


    width: 515px;
    height: 39px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    /* identical to box height, or 39px */
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #FFFFFF;

    border: 1px solid #000000;

}

#ref{
    /* Page title */


    width: 515px;
    height: 39px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 39px */
    display: flex;
    align-items: end;

    color: #FFFFFF;

    border: 1px solid #000000;

}
#imageTwitter{

width: 50px;
height: 50px;
    background: url("src/assets/img/icons8-twitterx-50.png");
}

#imageInsta{

    width: 50px;
    height: 50px;
    background: url("src/assets/img/icons8-instagram-50.png");
    object-fit: fill;
}

#imageFacebook{

width: 50px;
height: 50px;
background: url("src/assets/img/icons8-facebook-50.png");
object-fit: fill;
}

.imageBackground{

    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: #FFFFFF;
    flex-direction: row;
    margin: 20px;
}

#centerPart{

width: 100%;
height: 200px;
display: flex;
align-items: stretch;
background-color: #000000;


background-size: cover;

}
#linksCon{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    #align-items: stretch;
    text-decoration: none;


    background-size: cover;
}

#leftPart{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: stretch;
    background-color: #000000;
}

#subscribeButton{
    width: 100px;
    height: 40px;
    background-color: #9452C7;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    margin-top: 50px;
    margin-left: 10px;

}

#form{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
    border: none;
}