@import url('https://fonts.googleapis.com/css?family=Inter');

.header-container {
    min-height: 12vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    background-color: rgba(0, 0, 0, 0.5);
    justify-items: center;
    align-items: center;
}

.header-container .logoTitle {
    justify-self: start;
}

.sign-up {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: start;
}

.sign-up-link {
    text-decoration: none;
    margin-right: 30px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.sign-up-link:hover {
    text-decoration: underline;
}

.search-container {
    position: relative;
    margin: 20px;
}

#searchInput {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

#searchButton {
    float: left;
    width: 80px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    align-content: center;
}

#searchButton:hover {
    background: #0b7dda;
}

.fa-search {
    color: #666;
    font-size: 18px;
}