@import url('https://fonts.googleapis.com/css?family=Inter');

.header-container {
    min-height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    background-color: rgba(0, 0, 0, 0.7);
    justify-items: center;
    align-items: center;
}

.header-container .logoTitle {
    justify-self: start;
}

.burger-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .4fr;
    justify-items: center;
}

.userTitle {
    transition: transform 150ms ease-in-out;
}

.userTitle:hover {
    transform: scale(1.1);
}

.sign-up-link {
    text-decoration: none;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.sign-up-link:hover {
    text-decoration: underline;
}

.search-container {
    position: relative;
    margin: 20px;
}

@media (max-width: 835px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }

    .userTitle {
        position: relative;
        justify-self: left;
        margin-left: 10px;
    }
}
