#logo {
    max-width: 70px;
    max-height: 70px;
}

#logo-link {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    transition: transform 150ms ease-in-out;
}

#logo-link:hover {
    transform: scale(1.1);
}