@import url('https://fonts.googleapis.com/css?family=Inter');

*, *::after, *::before {
    box-sizing: border-box;
}

hr {
    width: 90%;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    overflow-x: hidden;
}

html {
    scrollbar-width: auto;
    scrollbar-color: #221e7d #FFF;
}

p {
    font-family: "Semi Bold Italic", sans-serif;
}