
.user-dropdown-wrapper {
    text-decoration: none;
    height: 100%;
}

.user-dropdown-container {
    align-items: center;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.user-dropdown-container .user-pic {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.user-dropdown-container .username-text {
    color: white;
    font-family: "Semi Bold Italic", sans-serif;
}

/*
.user-dropdown-wrapper .dropdown-content {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

.user-link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 5px;
}

.user-dropdown-wrapper:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
*/