input {
    margin: 0;
    padding: 0;
}

.create-quiz-wrapper {
    display: grid;
}

.create-quiz-form {
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(138, 83, 255, 0.8), rgba(93, 152, 159, 0.9));
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-self: center;
}

.quiz-title-container h1, .create-quiz-form h3, .create-quiz-form label, .category-selector {
    font-family: Inter, sans-serif;
}

.quiz-title-container h1 {
    text-align: center;
}

.description-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-container input, .description-container textarea {
    outline: none;
    font-family: Inter, sans-serif;
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.title-container input:hover, .description-container textarea:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title-container input {
    font-size: 18px;
}

.description-container textarea {
    resize: none;
    font-size: 14px;
    height: 116px;
}

.cover-image-container img {
    min-height: 136px;
    min-width: 220px;
    max-height: 40vh;
    max-width: 50vh;
}

.cover-image-container {
    position: relative;
    display: inline-block;
}

#change-quiz-image-input {
    display: none;
}

.change-quiz-image-label {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 48px);
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 150ms ease-in-out;
}

.change-quiz-image-label:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category-selector {
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    width: 120px;
    padding: 3px;
}

.category-selector:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.radio-button-container label {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}

.radio-button-container input {
    cursor: pointer;
}

.create-quiz-button-container button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border-radius: 10px;
    border: none;
    height: 4rem;
    width: 180px;
    font-family: "Semi Bold Italic", sans-serif;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 150ms ease-in-out;
}

.create-quiz-button-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.create-quiz-button-container button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}


@media (max-width: 605px) {
    .description-wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .description-wrapper {
        display: flex;
        flex-direction: column;
    }

    .create-quiz-button-container {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .create-quiz-button-container button {
        margin-bottom: 30px;
    }

}