input {
    box-sizing: border-box;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(138, 83, 255, 0.5), rgba(93, 152, 159, 0.6));
    background-size: cover;

}

.login-container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    width: 30%;
    height: 68vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    min-width: fit-content;
}

.login-form {
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.login-button, .username-input, .password-input, .signup-paragraph-container{
    outline: none;
    border: none;

    height: 45px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login-button:hover, .username-input:hover, .password-input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.login-button:hover {
    background: linear-gradient(to bottom right, #BF1745, #CF6A2A);
    transform: scale(1.05);
}

.login-button {
    justify-self: center;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border-radius: 8px;
    border: none;
    font-family: "Semi Bold Italic", sans-serif;
    font-weight: bold;
    transition: transform 150ms ease-in-out;
}

.login-button-container .signup-paragraph-container RouterLink {
    justify-self: center;
}

.signup-paragraph-container p, .signup-paragraph-container p RouterLink {
    font-weight: 600;
    color: #ffffff;
}

.signup-paragraph-container {
    align-items: start;
}

.error {
    max-height: 50px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-color: red;
}

.error_msg {
    color: red;
    font-size: 16px;
    align-self: center;
}

@media (max-height: 550px) {
    .login-container {
        height: 80vh;
    }
}