@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Inter:wght@500&italic&display=swap');

.play-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 89vh;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(138, 83, 255, 0.5), rgba(93, 152, 159, 0.6));
    background-size: cover;
}

#play-title {
    font-family: "Semi Bold Italic", sans-serif;
    align-self: center;
    color: white;
    font-size: 65px;
}

#join-button {
    align-self: center;
    width: 220px;
    height: 70px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #F9C80E;
    cursor: pointer;
}