
.imageSize{
    text-align: center;
    border: 3px none;
    #background-color: #FFFFFF;
    border-radius: 30px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.3);


}

.imageCon{
 height: 40vw;
}