
body{
    height: 95vh;
}

.playing-wrapper{
    min-height: 92vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(138, 83, 255, 0.8), rgba(93, 152, 159, 0.9));
    background-size: cover;
    max-height: 100vh; /* Set maximum height to viewport height */
    /* Add vertical scrollbar if content exceeds viewport */
    padding: 10px;
}

.Timer, .QuestionHeader, .ImageContainer, .AnswerBody {
    max-height: calc(100vh - 50px); // Adjust the value according to your layout
}

.questionHeader{
    justify-content: center;
    text-align: center;
    border: 3px none;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin: 2% 2% 2% 2%;
}

.questionText{
    font-family: 'inter', serif;
    font-weight: 20;
    font-size: 4vw;
}

.answerBox{
    display: flex;
    margin: 20px;
    border-radius: 30px;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
}

.centreBox{
    margin: auto;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    
}

.firstPart{

    display: flex;
    flex-direction: column;
    margin-right: 10px;


}
.secondPart{

    display: flex;
    flex-direction: column;
    margin-left: 10px;

}
.answerButton{
    font-size: 20px;
    font-weight: 20;
    height: 100px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;

}


button{
    font-size: 20px;
    font-family: Arial, serif;
    font-weight: bold;
    height: 7vw;
    width: 325px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
    white-space: nowrap;

}


#firstButton{
    background-color: cyan;


}
#secondButton{
    background-color: yellow;
}
#thirdButton{
    background-color: lightcoral;
}
#fourthButton{
    background-color: chartreuse;

}
#firstButton:hover,#secondButton:hover,#thirdButton:hover, #fourthButton:hover{
    transform:scale(1.1);
    transition: transform 0.3s ease;
}

button.pressed {
    animation-name: pressed;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    pointer-events: none;

}

@keyframes pressed {
    to{transform: scale(1.1)}
}
