
.timerCon{
    place-content: center ;
    margin: auto;
    text-align: center;
    background-color: transparent;
    opacity: 0.8;
    width: fit-content;
    border-radius: 30px;
}
.timer{
    font-size: 40px;
}