input {
    box-sizing: border-box;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(138, 83, 255, 0.5), rgba(93, 152, 159, 0.6));
    background-size: cover;

}

.signup-container {
    display: grid;              /*TODO Think about removing this with flex instead*/
    grid-template-rows: 1fr;

    align-items: center;
    justify-items: center;
    width: 30%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    min-width: fit-content;
}

.signup-form {
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.signup-button, .username-input, .password-input, .login-paragraph-container, .email-input {
    max-height: 50px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.signup-button {
    cursor: pointer;
    font-size: 14px;

}

.login-paragraph-container RouterLink {
    justify-self: center;
}

.login-paragraph-container p, .login-paragraph-container p RouterLink {
    color: #ffffff;
}

.login-paragraph-container {
    align-items: start;
}

.error {
    max-height: 50px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-color: red;
}

.error_msg {
    color: white;
    font-size: 20px;
    align-self: center;
}

