input {
    box-sizing: border-box;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(138, 83, 255, 0.5), rgba(93, 152, 159, 0.6));
    background-size: cover;
}

.signup-wrapper label {
    margin-left: 10px;
}

.signup-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
    width: 30%;
    max-height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    min-width: fit-content;
}

.signup-form {
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.signup-button, .username-input, .password-input, .login-paragraph-container, .email-input {
    outline: none;
    border: none;

    height: 45px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.signup-button {
    justify-self: center;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border-radius: 8px;
    border: none;
    font-family: "Semi Bold Italic", sans-serif;
    font-weight: bold;
    transition: transform 150ms ease-in-out;
}

.signup-button:hover {
    background: linear-gradient(to bottom right, #BF1745, #CF6A2A);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.login-paragraph-container RouterLink {
    justify-self: center;
}

.login-paragraph-container p, .login-paragraph-container p RouterLink {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
}

.login-paragraph-container {
    align-items: start;
}

.error {
    max-height: 50px;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border-width: 3px;
    border-color: red;
}

.error_msg {
    color: white;
    font-size: 20px;
    align-self: center;
}

